@{
    
   // var _controller = Request.Path.Split('/')[1];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Manager</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->

    <link href="~/templates/admin/v2/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
  
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/templates/admin/v2/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/templates/admin/v2/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/templates/admin/js/alertify/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alerttify/themes/semantic.min.css" rel="stylesheet" />

    <!--toast-->

    <link href="/Content/select2.css" rel="stylesheet" />
    <link href="/Content/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/templates/admin/v2/dist/css/custom.css" rel="stylesheet" />

    <script>
        var baseApi = 'http://localhost:51475/';
       // var baseApi = '@System.Configuration.ConfigurationManager.AppSettings.Get("ApiUrl")';
         var imageDefault = {1:"/Content/img/no_image.png", 2: "/Uploads/images/no-avartar.png"}
        function imgError(o, imgDefault) {
            console.log(o);
            if (imgDefault) {
                o.src = imageDefault[imgDefault];
            } else {
                o.src = imageDefault[2];
            }
            o.removeAttribute('onerror');
        }
    </script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymcecus.js"></script>

</head>

<body class="hold-transition sidebar-mini layout-navbar-fixed layout-footer-fixed text-sm sidebar-collapse @ViewBag.BodyClass">
    @*hold-transition sidebar-mini layout-fixed*@
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/templates/admin/v2/index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Tìm" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/templates/admin/v2/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/templates/admin/v2/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/templates/admin/v2/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/templates/admin/v2/index3.html" class="brand-link">
                <img src="~/templates/admin/v2/dist/img/AdminLTELogo.png"
                     alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Xe Nhà</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/templates/admin/v2/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column  nav-flat" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                        @*<li class="nav-item">
                            <a href="../widgets.html" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Widgets
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>*@

                        @*<li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Layout Options
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right">6</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../layout/top-nav.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Top Navigation</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../layout/collapsed-sidebar.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Collapsed Sidebar</p>
                                    </a>
                                </li>
                            </ul>
                        </li>*@

                        @if (User.IsInRole(FSite.Models.Enum.EnumUserRole.Admin.ToString()) || User.IsInRole(FSite.Models.Enum.EnumUserRole.Operator.ToString()))
                        {
                          
                            <li class="nav-item has-treeview">
                                <a class="nav-link" href="@Url.Action("Index","SysContents",new  { area = "Admin"})">
                                    <i class="nav-icon far fa-envelope"></i>
                                    <p>
                                        Nội dung
                                        <i class="fas fa-angle-left right"></i>
                                        @*<span class="badge badge-info right">6</span>*@
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item" id="mSysContents"><a class="nav-link" href="@Url.Action("Index","SysContents",new  { area = "Admin" })"><i class="far fa-circle nav-icon"></i><p>Tất Cả</p></a></li>
                                    <li class="nav-item" id="mSysContents_Status_0"><a class="nav-link" href="@Url.Action("Index","SysContents",new  { area = "Admin", Status=0})"><i class="far fa-circle nav-icon"></i><p>Chờ xử lý</p></a></li>
                                    <li class="nav-item" id="mSysContents_Status_1"><a class="nav-link" href="@Url.Action("Index","SysContents",new  { area = "Admin", Status=1})"><i class="far fa-circle nav-icon"></i><p>Kết thúc</p></a></li>
                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a class="nav-link" href="@Url.Action("Index","Blogs",new  { area = "Admin" })">
                                    <i class="nav-icon fas fa-newspaper"></i>
                                    <p>
                                        Tin tức
                                        <i class="fas fa-angle-left right"></i>
             
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item" id="mBlogs"><a class="nav-link" href="@Url.Action("Index","Blogs",new  { area = "Admin" })"><i class="far fa-circle nav-icon"></i><p>Tin tức</p></a></li>
                                    <li class="nav-item" id="mBlogCategories"><a class="nav-link" href="@Url.Action("Index","BlogCategories",new  { area = "Admin" })"><i class="far fa-circle nav-icon"></i><p>Danh mục tin</p></a></li>
                                </ul>
                            </li>
                            

                            <li class="nav-item has-treeview">
                                <a class="nav-link" href="#">
                                    <i class="nav-icon fas fa-tags"></i>
                                    <p>
                                        Quản lý chung
                                        <i class="fas fa-angle-left right"></i>
                                        @*<span class="badge badge-info right">6</span>*@
                                    </p>

                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item" id="mMenus"><a class="nav-link" href="@Url.Action("Index","Menus",new  { area = "Admin" })"><i class="far fa-circle nav-icon"></i><p>Thanh điều hướng</p></a></li>
                                    <li class="nav-item" id="mPostCategories"><a class="nav-link" href="@Url.Action("Index","PostCategories",new  { area = "Admin" })"><i class="far fa-circle nav-icon"></i><p>Nhóm trang</p></a></li>
                                    <li class="nav-item" id="mPosts"><a class="nav-link" href="@Url.Action("Index","Posts",new  { area = "Admin" })"><i class="far fa-circle nav-icon"></i><p>Danh sách trang</p></a></li>
                                    @if (User.IsInRole(FSite.Models.Enum.EnumUserRole.Admin.ToString()))
                                    {
                                        <li class="nav-item" id="mUsers"><a class="nav-link" href="@Url.Action("Index","Users",new  { area = "Admin" })"><i class="far fa-circle nav-icon"></i><p>Tài khoản</p></a></li>
                                    }
                                </ul>
                            </li>

                        }
                      


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        @*@RenderSection("footer", required: false)*@
        @if (IsSectionDefined("footer"))
        {
            @RenderSection("footer")
        }
        else
        {
            <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    <b>Version</b> 3.0.1
                </div>
                <strong>Copyright &copy; 2020 <a href="http://xenha.vn">XeNha.vn</a>.</strong> All rights
                reserved.
            </footer>
        }

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <!-- jQuery -->
    <script src="~/templates/admin/v2/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/templates/admin/v2/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/templates/admin/v2/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/templates/admin/v2/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/templates/admin/v2/dist/js/demo.js"></script>

    <script>
        //$.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- popper -->
    <!-- Bootstrap 4.0-->

    @Scripts.Render("~/bundles/jqueryval")

    <!-- Alfa_admin App -->

    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Scripts/alertifycus.js"></script>
    <script src="/Scripts/select2.js"></script>
    <script src="/Scripts/i18n/vi.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Site.js"></script>
    <script>
        var count = 0;//biến toàn cục
        $(document).ready(function () {
            // countnotify();
            //trick for checkbox
            $('[type="checkbox"]').each(function () {
                var lb = $(this).parent().find('label');
                $(lb).insertAfter($(this))
            })
        });
        function getNotify() {
            $.get('/api/booking/getnotify', {}, function (data) {
                var dt = data.data;
                var str = "";
                var stt = 0;
                $.each(dt, function (i, o) {
                    str += "<li class='notify_item'>";
                    str += "<span style='font-size:12px'>";
                    str += "<i class='fa fa-user-circle text-aqua'></i> " + o.Note + " &nbsp; <i class='fa fa-snowflake-o'></i>";
                    str += "</span>";
                    str += "</li>";
                    stt += 1;
                });
                //var h = parseInt(stt) * 60;
                $('.lstnotify').html(str);
                $('.lstnotify').removeAttr('style');
                $('.slimScrollBar').remove();
                $('.slimScrollRail').remove();
            });
        }

        function countnotify() {
            $.get("/api/booking/countnotify", {}, function (data) {
                count = data.count;
                $('.count_notify').text(data.count);
            });
        }

        function cvalid() {
            var err = "";
            var pwdold = $('#pwdold').val();
            var pwdnew = $('#pwdnew').val();
            var pwdnewconfirm = $('#pwdnewconfirm').val();
            //pwdold
            if (pwdold === '' || pwdold === null) {
                $('#pwdold').addClass('input-require');
                $('.crequire.pwdold').text('(bặt buộc nhập)');
                err += "vui lòng nhập mật khẩu cũ, ";
            } else {
                $('#pwdold').removeClass('input-require');
                $('.crequire.pwdold').text('(*)');
            }
            //pwdnew
            if (pwdnew === '' || pwdnew === null) {
                $('#pwdnew').addClass('input-require');
                $('.crequire.pwdnew').text('(bặt buộc nhập)');
                err += "vui lòng nhập mật khẩu mới, ";
            } else {
                $('#pwdnew').removeClass('input-require');
                $('.crequire.pwdnew').text('(*)');
            }
            //pwdnewconfirm
            if (pwdnewconfirm === '' || pwdnewconfirm === null) {
                $('#pwdnewconfirm').addClass('input-require');
                $('.crequire.pwdnewconfirm').text('(bặt buộc nhập)');
                err += "vui lòng nhập lại mật khẩu mới, ";
            } else {
                $('#pwdnewconfirm').removeClass('input-require');
                $('.crequire.pwdnewconfirm').text('(*)');
            }
            //return err
            return err;
        }

        function modalChangepass() {
            $.get("/modal/modalChangepass.html", function (respond) {
                alertify.confirm()
                    .setting({
                        'label': 'YES',
                        'message': respond,
                        'onok': function () { },
                        'startMaximized': false
                    }).setHeader('Đổi mật khẩu').set({ 'startMaximized': false }).show();
            }).then(function () {
                $('.ajs-footer').remove();
            });
        }

        function changePass() {
            var error = cvalid();
            if (error === '') {
                $.post('/api/user/changepass', {
                    formVars: {
                        pwdold: $('#pwdold').val(),
                        pwdnew: $('#pwdnew').val(),
                        pwdnewconfirm: $('#pwdnewconfirm').val()
                    }
                }, function (resp) {
                    alert(resp.msg);
                    if (resp.isok) {
                        alertify.confirm().destroy();
                    }
                });
            }
        }
        //Loading khi click menu
        function loading() {
            $('#waitingLoad').modal('show');
            setTimeout(function () {
                $('#waitingLoad').modal('hide');
            }, 10000);
        }

        function opennav(menuid) {
            $('.treeview-menu').attr('style', 'display:none');
            $('.ul_' + menuid).attr('style', 'display:block');
        }

        var nav_title = $('.nav-title').html();
        $('.page-title').html(nav_title);

        $('.custom-file-input').on('change', function () {
            //let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
            // $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
            let fileName = $(this).val().split('\\').pop();
            if (!fileName) {
                fileName = '@FSite.Resources.Resource.btnUpload';
            }
            $(this).siblings('.custom-file-label').addClass("selected").html(fileName);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>
