@model FSite.Models.RequestViewModel
@{
    var TypeRequest = (FSite.Models.Enum.EnumTypeRequest)ViewBag.TypeRequest;
}
@using (Ajax.BeginForm("CustomerRequest", "Home",
                                             new AjaxOptions
                                             {
                                                 HttpMethod = "POST",
                                                 UpdateTargetId = $"box{TypeRequest}",
                                                 OnSuccess = $"fn_{TypeRequest}OnSuccess",
                                                 OnFailure = $"fn_{TypeRequest}OnFailure"
                                             },
                                             new { @class = "request-to-item-form form", @id = $"_Form{TypeRequest}", @name = $"_Form{TypeRequest}" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("TypeRequest", TypeRequest)
    @Html.Hidden("DefaultContent", Model.Content)
    <div class="book-form">
        <h4 class="hr-after">@FSite.Resources.Resource.RequesterContentTitle</h4>
        <div class="form-group">
            @*<label for="FullName" accesskey="U">
                <span class="required">*</span>@FSite.Resources.Resource.FCustomerName
            </label>*@
            @Html.EditorFor(c => c.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = FSite.Resources.Resource.FCustomerName } })
            @Html.ValidationMessageFor(c => c.FullName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @*<label for="Email" accesskey="E">
                <span class="required">*</span>@FSite.Resources.Resource.FEmail
            </label>*@
            @Html.EditorFor(c => c.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = FSite.Resources.Resource.FEmail } })
            @Html.ValidationMessageFor(c => c.Email, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group date">
                    @Html.EditorFor(c => c.RequestDate, new { htmlAttributes = new { @class = "form-control cdate", @placeholder = FSite.Resources.Resource.RequesterDate } })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                @Html.ValidationMessageFor(c => c.RequestDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*<label for="comments" accesskey="C">
                <span class="required">*</span>@FSite.Resources.Resource._Note
            </label>*@
            @Html.TextAreaFor(c => c.Content, new { @class = "form-control margin-bottom-15 customer-content", @rows = 5, @placeholder = FSite.Resources.Resource._Note })
            @Html.ValidationMessageFor(c => c.Content, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <p class="col-md-6 col-sm-6">
                @*<label for="Phone" accesskey="P">
            <span class="required">*</span>@FSite.Resources.Resource.FCustomerPhone
        </label>*@
                @Html.EditorFor(c => c.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = FSite.Resources.Resource.FCustomerPhone } })
             
            </p>
            <p class="col-md-6 col-sm-6">
                <input type="submit" class="btn btn-primary btn-fill btn-block" id="submit" value="@FSite.Resources.Resource.btContactSend" />
            </p>
            <p class="col-md-12 col-sm-12">
                @Html.ValidationMessageFor(c => c.Phone, "", new { @class = "text-danger" })
            </p>
           
        </div>
      

        <hr style="border:1px solid #fff">
        <p class="help-block">@Html.Raw(FSite.Resources.Resource.RequesterContentNote)</p>
    </div>




}


