@model FSite.Models.Data.Product
@{
    FSite.Models.StaticFrontEndMetaData meta = FSite.Helpers.StaticHelpers.GetMeta(Server.MapPath("~/App_Data/Sys/1.Static.xml"));

    ViewBag.BodyClass = "insTemplate product";

    ViewBag.Title = "Sản phẩm";
    ViewBag.Desc = "Sản phẩm nổi bật trong ngày";
    ViewBag.MenuKey = $"{FSite.Models.Enum.EnumTypeMenu.Static}-4";//
    FSite.Models.Data.ProductCategory category = new FSite.Models.Data.ProductCategory();
    if (Model.Category != null)
    {
        category = Model.Category;
        ViewBag.Title = category.Title;
        ViewBag.MenuKey = string.Format("{0}-{1}", FSite.Models.Enum.EnumTypeMenu.ProductCate, category.Id);//
    }
    //else
    //{
    //    category.CategoryName = Resources.Resource.NBlogDesc;
    //}
    ViewBag.Title = Model.Title;
    string domain = System.Configuration.ConfigurationManager.AppSettings.Get("domain");

}

@section headers{
    <meta name="description" content="@Html.Raw(Model.MetaDescription)" />
    @*<meta name="keywords" content="@Html.Raw(Model.Keyword)" />*@
    <meta property="og:title" content="@Html.Raw(Model.MetaTitle)" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@string.Format("{0}/{1}/san-pham",System.Configuration.ConfigurationManager.AppSettings.Get("domain"),Model.Key)" />
    <meta property="og:image" content="@string.Format("{0}{1}", System.Configuration.ConfigurationManager.AppSettings.Get("domain"), Model.ImageUrl)" />
    <meta property="og:description" content="@Html.Raw(Model.MetaDescription)" />
}
<script>
window.shop = {
    template: "product",
	moneyFomat: '{{amount}}₫'
}
</script>


<section id="insProductPage" class="tamplateSection">
    <div class="insBreadcrumb ">
        <div class="container">
            <div class="breadcrumb-wrap">
                <ol class="breadcrumb breadcrumb-arrow hidden-sm hidden-xs">
                    <li><a href="/" target="_self">@FSite.Resources.Resource.Breadcrumb_Home</a></li>
                    @if (!string.IsNullOrEmpty(category.Key))
                    {
                        <li><a href="/san-pham">Sản phẩm</a></li>
                        <li><a href="/san-pham/@category.Key">@category.Title</a></li>
                    }
                    else
                    {
                        <li><a href="/san-pham">Sản phẩm</a></li>
                    }
                    <li class="active"><span>@Model.Title</span></li>

                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrapperPdPage">
            <div class="pdBlockDetail pdFirstInfo">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 pdImages">
                        <div class="wrapperPdImage clearfix">

                            <div id="leftThumbsImg" class="pdImgThumbs pull-left">
                                <ul class="listThumbs light-gallery">
                                    @{
                                        var files = Model.ProductItems.ToList();
                                    }
                                    @if (files.Count != 0)
                                    {
                                        for (int i = 0; i < files.Count; i++)
                                        {
                                            var mfile = files[i];
                                            <li class="imgThumb @(i==0?"active":"")" data-sub-html="@Model.Title" data-src="@mfile.ImageUrl">
                                                <a href="javascript:void(0)">
                                                    <img alt="@Model.Title" src="@mfile.ImageUrl">
                                                </a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <style>
                                            .wrapperPdImage .featureImg {
                                                width: unset !important;
                                            }
                                        </style>
                                    }
                                </ul>
                            </div>
                            <div id="imgFeatured" class="featureImg pull-left">
                                <a class="pdFancybox" href="@Model.ImageUrl">
                                    <img alt="@Model.Title" src="@Model.ImageUrl">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 pdInfo">
                        <div class="wrapPdInfo">
                            <h1 class="title pdTitle">
                                @Model.Title
                            </h1>
                            <div class="pdBox listInfoDesc">
                                <ul>
                                    @if (!string.IsNullOrEmpty(Model.Sku))
                                    {
                                        <li class="sku"><i class="fa fa-codepen" aria-hidden="true"></i> Mã sản phẩm: <span>@Model.Sku</span> </li>
                                    }
                                    @if (Model.Category != null)
                                    {
                                        <li class="type"><i class="fa fa-tags" aria-hidden="true"></i> Loại: <span><a href="/san-pham/@Model.Category.Key"><span>@Model.Category.Title</span></a></span> </li>
                                    }
                                    @if (Model.Brand != null)
                                    {
                                        <li class="vendor"><i class="fa fa-gg" aria-hidden="true"></i> Thương hiệu: <span>@Model.Brand.Title</span> </li>
                                    }

                                </ul>
                            </div>
                            <div class="pdBox pdPriceBoxInfo">
                                <div class="row">
                                    <div class="col-sm-7 col-xs-12 pdBlockInfo pdPriceWrap">
                                        <div class="wrapBlockInfo">
                                            <div class="pdPrice">
                                                <p class="item price">
                                                    <span class="pdLabelPrice">Giá: </span>
                                                    <span id="pdPriceNumber">@Html.DisplayFor(m => Model.Price, "DecimalCurrency")</span>
                                                </p>
                                                @if (Model.DiscountShow)
                                                {
                                                    <p class="item compareSaleOff">
                                                        <span class="pdLabelPrice">Giá cũ: </span>
                                                        <span id="pdComparePriceNumber">@Html.DisplayFor(m => Model.PriceDiscount, "DecimalCurrency")</span>
                                                        <span id="pdCompareSaleOff">@FSite.Resources.Resource.Sale_Title</span>
                                                    </p>

                                                }

                                                @if (Model.DiscountShow)
                                                {
                                                    <div class="countdown-wrapper po-unset bg-unset">
                                                        <div class="defaultCountdown clearfix" data-time-end="@Model.DiscountToDate"></div>
                                                        @*<div class="defaultCountdown clearfix" data-time-end="@(DateTime.Now.AddMonths(12))"></div>*@
                                                    </div>
                                                }
                                            </div>
                                            <div class="shortDesc">
                                                <div class="desc">
                                                    @Model.Description
                                                </div>

                                            </div>

                                            <div class="actionCart">
                                                @Html.Partial("Widgets/Social_Control_Page", new ViewDataDictionary() { { "m", new FSite.Models.SocialViewModels() { title = Model.Title, desc = Model.Description, img = domain + Model.ImageUrl, } } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-5 col-xs-12 pdBlockInfo pdPolicyWrap">
                                        <div class="pdPolicyWrap">
                                            <ul class="listPolicy">
                                                @foreach (var item in meta.policies.OrderBy(p => p.Index))
                                                {
                                                    <li class="item">
                                                        <div class="box">
                                                            <div class="icon">
                                                                <img src="@item.Icon" alt="@item.Title" />
                                                            </div>
                                                            <div class="detail">
                                                                <h5>@item.Title</h5>
                                                                <span>@item.Desc</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pdBlockDetail pdTabInfo">
                <div class="listTabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tabDescription" aria-controls="tabDescription" role="tab" data-toggle="tab">Chi tiết sản phẩm</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tabDescription">

                            <div class="content">
                                @Html.Raw(Model.Detail)
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="pdBlockDetail pdRelatedInfo">
                <div class="relatedPD">
                    <div class="pdRelated">
                        <div class="blockTitle">
                            <h2>
                                Sản phẩm cùng danh mục
                            </h2>
                        </div>
                        <div class="relatedListting">

                            <div class="contentRelatedPd owlDesign ">
                                @{
                                    var sim = (IEnumerable<FSite.Models.Data.Product>)ViewBag.Similars;
                                }
                                @foreach (var item in sim)
                                {
                                    var link = $"/{item.Key}/san-pham";
                                    <div class="productItem">

                                        <div class="pdLoopItem animated zoomIn">
                                            <div class="itemLoop clearfix">
                                                <div class="pdLoopImg imageHovers">
                                                    @if (item.DiscountShow)
                                                    {
                                                        <div class="pdLabel sale">
                                                            <span>@FSite.Resources.Resource.Sale_Title</span>
                                                        </div>
                                                    }

                                                    <a href="@link" title="@item.Title">
                                                        <img data-reg="false" class="imgLoopItem" src="@item.ImageUrl" alt="@item.Title">
                                                    </a>
                                                    @if (item.DiscountShow)
                                                    {
                                                        <div class="countdown-wrapper">
                                                            <div class="defaultCountdown clearfix" data-time-end="@item.DiscountToDate"></div>
                                                            @*<div class="defaultCountdown clearfix" data-time-end="@(DateTime.Now.AddMonths(12))"></div>*@
                                                        </div>
                                                    }
                                                    <div class="pdLoopAction">
                                                        <div class="listAction">
                                                            <a href="javascript:void(0)" class="btnLoop btnCompare" data-compare="@link" data-id="@item.Id" title="So sánh"><i class="fa fa-compress" aria-hidden="true"></i> <span class="btn-check"></span></a>
                                                            <a href="javascript:void(0)" class="btnLoop btn-quickview-1" data-handle="@link" data-toggle="tooltip" data-placement="left" title="Xem nhanh"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                            <a href="@link" class="btnLoop view_product" data-toggle="tooltip" data-placement="left" title="Xem chi tiết"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" class="add-cart btnLoop Addcart" data-variantid="@item.Id" title="Thêm vào giỏ"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pdLoopDetail text-center clearfix">
                                                    <h3 class="pdLoopName"><a class="productName" href="@link" title="@item.Title">@item.Title</a></h3>
                                                    <p class="pdPrice">
                                                        @Html.DisplayFor(m => item.Price, "DecimalCurrency")
                                                    @if (item.DiscountShow)
                                                    {
                                                        <del class="pdComparePrice">@Html.DisplayFor(f => item.PriceDiscount, "DecimalCurrency")</del>
                                                    }
                                                </p>
                                                <div class="pdLoopListView">
                                                    <ul>
                                                        @if (!string.IsNullOrEmpty(item.Sku))
                                                        {
                                                            <li><strong>Mã sản phẩm: </strong><span>@item.Sku</span></li>
                                                        }
                                                        @if (item.Category != null)
                                                        {
                                                            <li><strong>Danh mục: </strong><a href="/san-pham/@item.Category.Key"><span>@item.Category.Title</span></a></li>
                                                        }
                                                        @if (item.Brand != null)
                                                        {
                                                            <li><strong>Thương hiệu: </strong><span>@item.Brand.Title</span></li>
                                                        }
                                                        <li>
                                                            <strong>Mô tả ngắn: </strong>
                                                            <span class="short-des">@item.Description</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }





                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section scripts
    {
    <script>
        $(document).ready(function () {
            jQuery('.contentRelatedPd').owlCarousel({
                items: 5,
                loop: false,
                autoplay: false,
                margin: 0,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 1
                    },
                    320: {
                        items: 2
                    },
                    600: {
                        items: 3
                    },
                    767: {
                        items: 3
                    },
                    992: {
                        items: 5
                    },
                    1200: {
                        items: 5
                    }
                }
            })


            if ($('.shortDesc .desc').html().trim() == '') {
                $('.shortDesc').hide()
            }
            $('.qtyControl').click(function () {
                var $parent = $(this).parent(),
                    $input = $parent.find('#pdQuantity'),
                    valIn = parseInt($input.val()),
                    typePlus = $(this).hasClass('plus');
                if (typePlus) {
                    $input.val(valIn + 1);
                } else {
                    if (valIn > 1) {
                        $input.val(valIn - 1);
                    }
                }
            })
        })
    </script>
    <script>
var check_variant = true;
var selectCallback = function(variant, selector) {
	var priceText = $('#pdPriceNumber'),
			compareText = $('#pdComparePriceNumber'),
			saleText = $('#pdCompareSalePrice'),
			compareOffText = $('#pdCompareSaleOff');
	if (variant && variant.available) {
		if(variant.featured_image != null)
		{
			$(".imgThumb a[data-image='"+Haravan.resizeImage(variant.featured_image.src,'grande')+"']").click().parents('li').addClass('active');
		}
		if (variant.sku != null ){
			jQuery('.listInfoDesc ul li.sku span').html(variant.sku);
		}else{
			jQuery('.listInfoDesc ul li.sku span').html('Chưa rõ');
		}
		jQuery('.btn-addCart').removeClass('hidden');
		jQuery('.btn-Soldout').addClass('hidden');
		priceText.html(Haravan.formatMoney(variant.price, "{{amount}}₫"));
		if(variant.price < variant.compare_at_price){
			compareText.html(Haravan.formatMoney(variant.compare_at_price, "{{amount}}₫"));
			var pro_sold = variant.price ;
			var pro_comp = variant.compare_at_price / 100;
			var sale = 100 - (pro_sold / pro_comp) ;
			var kq_sale = Math.round(sale);
			var priceMinus = variant.compare_at_price - variant.price;
			saleText.html(Haravan.formatMoney(priceMinus, "{{amount}}₫"));
			compareOffText.html('-'+ kq_sale + '%');
			$('.comparePrice').removeClass('hidden');
			$('.compareSaleOff').removeClass('hidden');
		}else{
			$('.comparePrice').addClass('hidden');
			$('.compareSaleOff').addClass('hidden');
		}
		check_variant = true;
	} else {
		jQuery('.btn-addCart').addClass('hidden');
		jQuery('.btn-Soldout').removeClass('hidden');
		check_variant = false;
	}
	return check_variant;
};

jQuery(document).ready(function($){



			});
    </script>
    <script>
        var swatch_size = parseInt($('.select-swatch').children().size());
        jQuery(document).on('click', '.swatch input', function (e) {
            e.preventDefault()
            var $this = $(this);
            var _available = '';
            $this.parent().siblings().find('label').removeClass('sd');
            $this.next().addClass('sd');
            var name = $this.attr('name');
            var value = $this.val();
            $('select[data-option=' + name + ']').val(value).trigger('change');
            if (swatch_size == 2) {
                if (name.indexOf('1') != -1) {
                    $('#variant-swatch-1 .swatch-element').find('input').prop('disabled', false);
                    $('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
                    $('#variant-swatch-1 .swatch-element label').removeClass('sd');
                    $('#variant-swatch-1 .swatch-element').removeClass('soldout');
                    $('.selector-wrapper .single-option-selector').eq(1).find('option').each(function () {
                        var _tam = $(this).val();
                        $(this).parent().val(_tam).trigger('change');
                        if (check_variant) {
                            if (_available == '') {
                                _available = _tam;
                            }
                        } else {
                            $('#variant-swatch-1 .swatch-element[data-value="' + _tam + '"]').addClass('soldout');
                            $('#variant-swatch-1 .swatch-element[data-value="' + _tam + '"]').find('input').prop('disabled', true);
                        }
                    })
                    $('.selector-wrapper .single-option-selector').eq(1).val(_available).trigger('change');
                    $('#variant-swatch-1 .swatch-element[data-value="' + _available + '"] label').addClass('sd');
                }
            } else if (swatch_size == 3) {
                var _count_op2 = $('#variant-swatch-1 .swatch-element').size();
                var _count_op3 = $('#variant-swatch-2 .swatch-element').size();
                if (name.indexOf('1') != -1) {
                    $('#variant-swatch-1 .swatch-element').find('input').prop('disabled', false);
                    $('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
                    $('#variant-swatch-1 .swatch-element label').removeClass('sd');
                    $('#variant-swatch-1 .swatch-element').removeClass('soldout');
                    $('#variant-swatch-2 .swatch-element label').removeClass('sd');
                    $('#variant-swatch-2 .swatch-element').removeClass('soldout');
                    var _avi_op1 = '';
                    var _avi_op2 = '';
                    $('#variant-swatch-1 .swatch-element').each(function (ind, value) {
                        var _key = $(this).data('value');
                        var _unavi = 0;
                        $('.single-option-selector').eq(1).val(_key).change();
                        $('#variant-swatch-2 .swatch-element label').removeClass('sd');
                        $('#variant-swatch-2 .swatch-element').removeClass('soldout');
                        $('#variant-swatch-2 .swatch-element').find('input').prop('disabled', false);
                        $('#variant-swatch-2 .swatch-element').each(function (i, v) {
                            var _val = $(this).data('value');
                            $('.single-option-selector').eq(2).val(_val).change();
                            if (check_variant == true) {
                                if (_avi_op1 == '') {
                                    _avi_op1 = _key;
                                }
                                if (_avi_op2 == '') {
                                    _avi_op2 = _val;
                                }
                                //console.log(_avi_op1 + ' -- ' + _avi_op2)
                            } else {
                                _unavi += 1;
                            }
                        })
                        if (_unavi == _count_op3) {
                            $('#variant-swatch-1 .swatch-element[data-value = "' + _key + '"]').addClass('soldout');
                            setTimeout(function () {
                                $('#variant-swatch-1 .swatch-element[data-value = "' + _key + '"] input').attr('disabled', 'disabled');
                            })
                        }
                    })
                    $('#variant-swatch-1 .swatch-element[data-value="' + _avi_op1 + '"] input').click();
                }
                else if (name.indexOf('2') != -1) {
                    $('#variant-swatch-2 .swatch-element label').removeClass('sd');
                    $('#variant-swatch-2 .swatch-element').removeClass('soldout');
                    $('.selector-wrapper .single-option-selector').eq(2).find('option').each(function () {
                        var _tam = $(this).val();
                        $(this).parent().val(_tam).trigger('change');
                        if (check_variant) {
                            if (_available == '') {
                                _available = _tam;
                            }
                        } else {
                            $('#variant-swatch-2 .swatch-element[data-value="' + _tam + '"]').addClass('soldout');
                            $('#variant-swatch-2 .swatch-element[data-value="' + _tam + '"]').find('input').prop('disabled', true);
                        }
                    })
                    $('.selector-wrapper .single-option-selector').eq(2).val(_available).trigger('change');
                    $('#variant-swatch-2 .swatch-element[data-value="' + _available + '"] label').addClass('sd');
                }
            } else {

            }
        })
        $(document).ready(function () {
            var _chage = '';
            $('.swatch-element[data-value="' + $('.selector-wrapper .single-option-selector').eq(0).val() + '"]').find('input').click();
            $('.swatch-element[data-value="' + $('.selector-wrapper .single-option-selector').eq(1).val() + '"]').find('input').click();
            if (swatch_size == 1) {
                var _avi_op1 = '';
                $('#variant-swatch-0 .swatch-element').each(function (ind, value) {
                    var _key = $(this).data('value');
                    $('.single-option-selector').eq(0).val(_key).change();
                    if (check_variant == true) {
                        if (_avi_op1 == '') {
                            _avi_op1 = _key;
                        }
                    } else {
                        $('#variant-swatch-0 .swatch-element[data-value = "' + _key + '"]').addClass('soldout');
                        $('#variant-swatch-0 .swatch-element[data-value = "' + _key + '"]').find('input').attr('disabled', 'disabled');
                    }
                })
                $('#variant-swatch-0 .swatch-element[data-value = "' + _avi_op1 + '"] input').click();
            } else if (swatch_size == 2) {
                var _avi_op1 = '';
                var _avi_op2 = '';
                var _count = $('#variant-swatch-1 .swatch-element').size();
                $('#variant-swatch-0 .swatch-element').each(function (ind, value) {
                    var _key = $(this).data('value');
                    var _unavi = 0;
                    $('.single-option-selector').eq(0).val(_key).change();
                    $('#variant-swatch-1 .swatch-element').each(function (i, v) {
                        var _val = $(this).data('value');
                        $('.single-option-selector').eq(1).val(_val).change();
                        if (check_variant == true) {
                            if (_avi_op1 == '') {
                                _avi_op1 = _key;
                            }
                            if (_avi_op2 == '') {
                                _avi_op2 = _val;
                            }
                        } else {
                            _unavi += 1;
                        }
                    })
                    if (_unavi == _count) {
                        $('#variant-swatch-0 .swatch-element[data-value = "' + _key + '"]').addClass('soldout');
                        $('#variant-swatch-0 .swatch-element[data-value = "' + _key + '"]').find('input').attr('disabled', 'disabled');
                    }
                })
                $('#variant-swatch-1 .swatch-element[data-value = "' + _avi_op2 + '"] input').click();
                $('#variant-swatch-0 .swatch-element[data-value = "' + _avi_op1 + '"] input').click();
            } else if (swatch_size == 3) {
                var _avi_op1 = '';
                var _avi_op2 = '';
                var _avi_op3 = '';
                var _size_op2 = $('#variant-swatch-1 .swatch-element').size();
                var _size_op3 = $('#variant-swatch-2 .swatch-element').size();

                $('#variant-swatch-0 .swatch-element').each(function (ind, value) {
                    var _key_va1 = $(this).data('value');
                    var _count_unavi = 0;
                    $('.single-option-selector').eq(0).val(_key_va1).change();
                    $('#variant-swatch-1 .swatch-element').each(function (i, v) {
                        var _key_va2 = $(this).data('value');
                        var _unavi_2 = 0;
                        $('.single-option-selector').eq(1).val(_key_va2).change();
                        $('#variant-swatch-2 .swatch-element').each(function (j, z) {
                            var _key_va3 = $(this).data('value');
                            $('.single-option-selector').eq(2).val(_key_va3).change();
                            if (check_variant == true) {
                                if (_avi_op1 == '') {
                                    _avi_op1 = _key_va1;
                                }
                                if (_avi_op2 == '') {
                                    _avi_op2 = _key_va2;
                                }
                                if (_avi_op3 == '') {
                                    _avi_op3 = _key_va3;
                                }
                            } else {
                                _unavi_2 += 1;
                            }
                        })
                        if (_unavi_2 == _size_op3) {
                            _count_unavi += 1;
                        }
                    })
                    if (_size_op2 == _count_unavi) {
                        $('#variant-swatch-0 .swatch-element[data-value = "' + _key_va1 + '"]').addClass('soldout');
                        $('#variant-swatch-0 .swatch-element[data-value = "' + _key_va1 + '"]').find('input').attr('disabled', 'disabled');
                    }
                })
                $('#variant-swatch-0 .swatch-element[data-value = "' + _avi_op1 + '"] input').click();
            }
        })
    </script>

    <link href="/Scripts/lightgallery/css/lightgallery.min.css" rel="stylesheet" />
    <script src="/Scripts/lightgallery/js/lightgallery-all.min.js"></script>
    <script>
        // LightGallery example for adding event listner to toolbar icons

        $(document).ready(() => {
            const $lg = $(".light-gallery");
            $lg.lightGallery({
                pager: true,

                loadYoutubeThumbnail: true,
                youtubeThumbSize: 'default',
                loadVimeoThumbnail: true,
                vimeoThumbSize: 'thumbnail_medium',

            });
            $lg.on("onAfterOpen.lg", (event) => {
                $("#lg-download").on("click", () => {
                    const index = $lg.data("lightGallery").index;
                    const src = $lg.data("lightGallery").$items.eq(index).attr("data-src");
                    console.log("Downloading ", src);
                });
            });
        });
        $(".imgThumb a").click(function () {
            $(".imgThumb").removeClass('active');
            $(this).parents('li').addClass('active');
            $(".featureImg img").attr("src", $(this).parents('li').data("src"));
            $("a.pdFancybox").attr('href', $(this).parents('li').data("src"));
        });
        $(".featureImg").lightGallery();
    </script>
}


